
{% macro input(name,type,error,value) %}

    <div class="mb-3">
        <label for="{{ name }}" class="form-label">{{ name |title }}</label>
        <input
                type="{{ type }}"
                class="form-control {% if error %}is-invalid{% endif %}"
                id="{{ name }}" name="{{ name }}"
                value="{{ value |default('')}}"
        >
        <span class="text-danger">{{ error }}</span>
    </div>
{% endmacro %}
