{% macro index(route,field,items) %}

    <div class="row">
        <div class="col-md-9" style="margin: auto;">

            <h2 class="text-center">Handle {{ route | title }}</h2>
            <a href="{{ path('admin.'~ route ~'.new') }}" class="btn btn-success">Add new {{ route }}</a>
            <table class="table table-bordered table-striped mt-2">
                <thead>
                <tr>
                    <th>{{ field | title }}</th>
                    <th></th>

                </tr>
                </thead>
                <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{ attribute(item,field) }}</td>
                        <td>
                            <a href="{{ path('admin.'~ route ~'.edit',{ id:item.id~'' }) }}" class="btn btn-primary">edit</a>
                            <form
                                    method="post"
                                    action="{{ path('admin.'~ route ~'.delete',{id:item.id~''}) }}"
                                    class="d-inline"
                                    onsubmit="return confirm('Are you sure?')">
                                <input type="hidden" name="_METHOD" value="DELETE">
                                {{ csrf_input() }}
                                <button type="submit" class="btn btn-danger">delete</button>

                            </form>
                        </td>

                    </tr>
                {% else %}
                    <tr>not found</tr>
                {% endfor %}
                </tbody>
            </table>
            {{ paginate(items,'admin.'~ route ~'.index') }}
        </div>
    </div>

{% endmacro %}
